@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Handlee&family=Sniglet&display=swap');

html,
body {
  background-color: whitesmoke;
  height: 100%;
}

.navbar,
.main-footer {
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.text-font {
  font-family: 'Sniglet', cursive;
}

.card-bg {
  background: #00416a;
  background: linear-gradient(to right, #e4e5e6, #00416a);
}

.shdw {
  -webkit-box-shadow: 5px 5px 15px 5px #000;
  box-shadow: 5px 5px 15px 5px #000;
}

h1 {
  font-family: 'Handlee', cursive;
}

.text-white {
  color: white !important;
}

#page-content {
  flex: 1 0 auto;
}
